{{ define "main" }}
<main style="width: 70%; margin: auto; display: flex; flex-direction: column">
  {{ $pages := where .Site.RegularPages "Type" "blog" }}
  {{ $pages = $pages.ByDate.Reverse }}
  {{ $pages = first 3 $pages }}
  {{ range $pages }}
  <article role="article" style="margin: 2rem 0">
    <a href="{{ .RelPermalink }}">
      <h1 style="margin: 0.75rem 0">{{ .Title }}</h1>
    </a>
    {{ .Summary }}
    <div
      style="height: 1px; width: 100%; background: black; margin: 0.5rem 0"
      role="separator"
    ></div>
  </article>
  {{ end }}
</main>
{{ end }}
